:root {
  --color1: #ffe1dc;
  --color2: #ffc7d1;
  --color3: #ff9caf;
}
body {
  margin: 0;
  font-family: "Raleway", sans-serif;
  background-color: var(--color1);
}
.slick-dots {
  position: static!important;
}