.titulo {
  text-align: center;
}
.sectionPlanes {
  padding: 2rem 1rem;
  background-color: #ffe3e3;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.tituloSeccion {
  font-size: 2rem;
  font-weight: bold;
  color: #b1005d;
  margin-bottom: 0.5rem;
}

.cardsContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.card {
  background-color: white;
  border-radius: 1.5rem;
  padding: 0.8rem;
  width: 280px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.imageContainer {
  width: 100%;
  height: 130px;
  overflow: hidden;
  border-radius: 1rem;
}

.imagen {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1rem;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0.5rem;
}

.tituloCard {
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  margin: 0.3rem 0 0.2rem 0;
}

.precio {
  font-size: 0.9rem;
  color: #222;
  margin-bottom: 0.6rem;
}

.iconosRow {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 0.8rem;
  flex-wrap: nowrap;
}

.iconoItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 65px;
}

.icono {
  font-size: 1.3rem;
  color: var(--color3);
}

.textoIcono {
  font-size: 0.7rem;
  text-align: center;
  color: #444;
  margin-top: 0.2rem;
}
