.testimonios {
  padding: 2rem;
  background-color: #fef6f2;
  text-align: center;
}

.titulo {
  text-align: center;
  font-size: 2rem;
  padding-bottom: 0!important;
  margin: 0!important;
}

.filaTestimonios {
  display: flex;
  gap: 2rem;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 2rem;
}

.tarjetaTestimonio {
  background-color: #fff;
  border-radius: 12px;
  padding: 1.5rem;
  padding-bottom: 0!important;
  max-width: 300px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  text-align: left;
}

.tarjetaTestimonio img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 1rem;
}

.tarjetaTestimonio h3 {
  margin: 0.5rem 0;
  font-size: 1.2rem;
}

.mensaje {
  font-size: 1rem;
  color: #333;
}
