.section {
  padding: 2rem;
  background-color: var(--color3);
  text-align: center;
}
.testimonios {
  display: flex;
  gap: 1rem;
  justify-content: center;
  flex-wrap: wrap;
}
.card {
  background-color: white;
  padding: 1rem;
  border-radius: 8px;
  width: 300px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}
.titulo {
  text-align: center;
  color: #b1005d;
  font-size: 2rem;
}